@page
@model WEB.Pages.Products.CreateModel
@{
    ViewData["Title"] = "Создание товара";
}

<h2 class="fw-semibold">Создание товара</h2>

<form method="post"
    class="d-flex flex-column gap-2">

    <div class="row">
        <div class="col-6">
            <div class="d-flex flex-column gap-2">
                <div class="d-flex flex-column gap-1">
                    <label>Наименование товара:</label>
                    <input type="text"
                           asp-for="@Model.Product.Name"
                           class="form-control rounded-4"
                           placeholder="Наименование..."
                           maxlength="50" />
                </div>

                <div class="d-flex flex-column gap-1">
                    <label>Стоимость товара (руб.):</label>
                    <input type="number"
                           asp-for="@Model.Product.Price"
                           class="form-control rounded-4"
                           placeholder="Стоимость..."
                           min="1.0" />
                </div>

                <div class="d-flex flex-column gap-1">
                    <label>Скидка на товар (%):</label>
                    <input type="number"
                           asp-for="@Model.Product.Discount"
                           class="form-control rounded-4"
                           placeholder="Скидка..."
                           min="0" />
                </div>
            </div>
   
        </div>

        <div class="col-6">
            <div class="d-flex flex-column gap-2">
                <div class="d-flex flex-column gap-1">
                    <label>Категория товара:</label>
                    <select asp-for="Product.CategoryId"
                            asp-items="Model.Categories"
                            class="form-control rounded-4">
                        <option value="">Выберите категорию</option>
                    </select>
                </div>
                <div class="d-flex flex-column gap-1">
                    <label>Производитель товара:</label>
                    <select asp-for="Product.ManufacturerId"
                            asp-items="Model.Manufacturers"
                            class="form-control rounded-4">
                        <option value="">Выберите производителя</option>
                    </select>
                </div>
                <div class="d-flex flex-column gap-1">
                    <label>Поставщик товара:</label>
                    <select asp-for="Product.SupplierId"
                            asp-items="Model.Suppliers"
                            class="form-control rounded-4">
                        <option value="">Выберите поставщика</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    

    <div class="d-flex flex-column gap-1">
        <label>Единица измерения товара:</label>
        <input type="text"
               asp-for="@Model.Product.Unit"
               class="form-control rounded-4"
               placeholder="Единица измерения..."
               maxlength="5"/>
    </div>

    <div class="d-flex flex-column gap-1">
        <label>Количество товара на складе:</label>
        <input type="number"
               asp-for="@Model.Product.Quantity"
               class="form-control rounded-4"
               placeholder="Количество на складе..."
               max="100" min="0"/>
    </div>

    <div class="d-flex flex-column gap-1">
        <label>Размер товара:</label>
        <input type="number"
               asp-for="@Model.Product.Quantity"
               class="form-control rounded-4"
               placeholder="Размер..."
               max="50" min="1"/>
    </div>
    
    <div class="d-flex flex-column gap-1">
        <label>Цвет товара:</label>
        <input type="text"
               asp-for="@Model.Product.Quantity"
               class="form-control rounded-4"
               placeholder="Цвет..."
               maxlength="50"/>
    </div>

    <div class="d-flex flex-column gap-1">
        <label>Описание товара товара:</label>
        <textarea asp-for="@Model.Product.Description"
               class="form-control rounded-4"
               placeholder="Описание..."
               maxlength="500" style="min-height: 150px"></textarea>
    </div>

    <div class="d-flex gap-2">
        <button type="submit" class="w-100 btn btn-primary rounded-4">
            <i class="bi bi-check-lg"></i> Создать
        </button>
        <a asp-page="/Index" class="w-25 btn btn-outline-danger rounded-4">
            <i class="bi bi-trash-fill"></i> Отмена
        </a>
    </div>
</form>