@page
@model WEB.Pages.Admin.Products.IndexModel

@{
    ViewData["Title"] = "Товары";
}

<form method="get">

    <div class="bg-white p-2 shadow rounded-4 mb-2 d-flex justify-content-between align-items-center">
        <div class="d-flex w-100 gap-1 m-0">
            <h2 class="m-0 fw-semibold me-3">Товары</h2>

            <input asp-for="GetRequest.SearchTerm"
                   class="form-control rounded-4 d-flex w-100"
                   placeholder="Поиск..." />

            <button class="btn btn-primary rounded-4">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>

    <div class="bg-white p-2 shadow rounded-4 mb-2">

        <div class="row g-2">

            <div class="col-3">
                <label class="form-label">Категория</label>
                <select asp-for="GetRequest.CategoryId"
                        asp-items="Model.Categories"
                        class="form-select rounded-4">
                    <option value="0">Все</option>
                </select>
            </div>

            <div class="col-3">
                <label class="form-label">Производитель</label>
                <select asp-for="GetRequest.ManufacturerId"
                        asp-items="Model.Manufacturers"
                        class="form-select rounded-4">
                    <option value="0">Все</option>
                </select>
            </div>

            <div class="col-3">
                <label class="form-label">Поставщик</label>
                <select asp-for="GetRequest.SupplierId"
                        asp-items="Model.Suppliers"
                        class="form-select rounded-4">
                    <option value="0">Все</option>
                </select>
            </div>

            <div class="col-3">
                <label class="form-label">Сортировка</label>
                <select asp-for="GetRequest.OrderDirection"
                        class="form-select rounded-4">
                    <option value="desc">По убыванию</option>
                    <option value="asc">По возрастанию</option>
                </select>
            </div>

            <div class="col-3">
                <label class="form-label">Скидки</label>
                <select asp-for="GetRequest.DiscountsOnly"
                        class="form-select rounded-4">
                    <option value="">Все</option>
                    <option value="true">Только со скидкой</option>
                    <option value="false">Без скидки</option>
                </select>
            </div>

            <div class="col-3">
                <label class="form-label">Цвет</label>
                <input asp-for="GetRequest.Color"
                       class="form-control rounded-4"
                       placeholder="Цвет" />
            </div>

            <div class="col-3">
                <label class="form-label">Размер</label>
                <input asp-for="GetRequest.Size"
                       type="number"
                       class="form-control rounded-4" />
            </div>

            <div class="col-12 d-flex gap-2 mt-2">
                <button class="btn btn-primary rounded-4">
                    Применить фильтры
                </button>

                <a href="/admin/products"
                   class="btn btn-outline-dark rounded-4">
                    Сбросить всё
                </a>
            </div>

        </div>
    </div>

</form>

<div class="bg-white p-2 shadow rounded-4 mb-2">

    @if (Model.Products == null || !Model.Products.Any())
    {
        <div class="d-flex flex-column gap-2">
            <div class="text-muted text-center py-4">
                Товары отсутствуют
            </div>

            <a class="btn btn-outline-primary rounded-4 d-flex align-items-center justify-content-center align-self-center"
               href="/admin/products/create">
                <i class="bi-plus-lg me-1"></i>
                Создать
            </a>
        </div>
    }
    else
    {
        <div class="table-responsive">

            <table class="table table-hover align-middle mb-0">

                <thead>
                    <tr class="text-muted">
                        <th>ID</th>
                        <th>Артикул</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Скидка</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr style="cursor:pointer"
                            onclick="window.location.href='/admin/products/@item.Id'">

                            <td>@item.Id</td>
                            <td>@item.Article</td>
                            <td>@item.Name</td>
                            <td>@item.Price ₽</td>

                            <td>
                                @if (item.Discount > 0)
                                {
                                    <span class="text-success">@item.Discount%</span>
                                }
                                else
                                {
                                    <span class="text-muted">—</span>
                                }
                            </td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
    }
</div>

<div class="bg-white p-2 rounded-4">
    <a class="btn btn-outline-primary d-flex align-items-center justify-content-center rounded-4"
       href="/admin/products/create">
        <i class="bi bi-plus-lg fs-5 me-2"></i>
        Создать товар
    </a>
</div>